<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<title>Really Good Comic</title>
		<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet"> 
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
	
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r,i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].1=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88457445-1', 'auto');
  ga('send', 'pageview');

</script>



	</HEAD>
	<BODY>
		<h1>Really Good Comic</h1>

		{% block body %}{% endblock %}
	</BODY>

</HTML>
